@use 'swiper/scss';
@use 'swiper/scss/thumbs';

.mc-section +.section {
    padding-top: 0;
}

.mc-section {
    padding-bottom: 80px;
}

.mc {
    background-color: white;
    border-radius: 40px;
    padding: 30px;
    display: flex;
    height: fit-content;
    justify-content: space-between;

    .swiper-slide:not(:first-child) {
        display: none;
    }

    &-gallery {
        max-width: 794px;
        width: 100%;
    }

    &-description {
        max-width: 734px;
        width: 100%;
        display: flex;
        flex-direction: column;

        .title {
            font: var(--text-base-200);
            font-weight: 500;
            margin-bottom: 20px;
            line-height: 120%;
        }

        .text {
            font-size: 1.6rem;
            line-height: 140%;
        }
    }

    &-submit {
        margin-top: auto;
        width: 734px;
        display: flex;
        align-items: center;
        padding: 20px 20px 20px 40px;
        justify-content: space-between;
        background-color: #C58B5D1A;
        border-radius: 80px;

        .btn {
            display: block;
            text-align: center;
            border-radius: 100px;
        }

        .price p:first-child {
            font: var(--text-base-500);
            color: var(--black_60);
        }

        .price p:last-child {
            font: var(--text-base-350);
            margin-top: 6px;
        }
    }

    .swiper-slide {
        display: flex;
        align-items: center;

        img {
            display: block;
            width: 100%;
            height: 100%;
            aspect-ratio: 1;
            border-radius: 20px;
            object-fit: cover;
        }
    }
}

.mc-swiper {
    box-sizing: border-box;
    margin-top: 20px;
    display: none;

    .swiper-slide {
        opacity: 0.4;
        width: 100px;

        img {
            width: 100%;
            height: 100px;
            object-fit: cover;
        }
    }

    .swiper-slide-thumb-active {
        opacity: 1;
    }

}

@media screen and (max-width: 1200px) {
    .mc {
        flex-direction: column;

        .swiper-slide img {
            aspect-ratio: 16/9;
        }

        &-gallery {
            position: static;
            max-width: 100%;
            margin-bottom: 30px;
        }

        &-description {
            position: static;
            max-width: 100%;

            .title {
                font-size: 2.4rem;
            }

            .mc-submit {
                width: 100%;
                flex-direction: column;
                border-radius: 0;
                padding: 31px;
                gap: 20px;
                margin-top: 30px;
            }
        }

        .mc-swiper .swiper-slide img {
            width: 67px;
            height: 70px;
        }

        .price p:first-child {
            text-align: center;
        }

        .price p:last-child {
            font-size: 2.4rem;
        }
    }
}